<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="triangle" class="org.sbelei.springdemo.Triangle">
		<property name="pointA" ref="zeroPoint"/>
		<property name="pointB" ref="point2"/>
		<property name="pointC" ref="point3"/>
	</bean>

	<bean id="zeroPoint" class="org.sbelei.springdemo.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>

	<bean id="point2" class="org.sbelei.springdemo.Point">
		<property name="x" value="20"/>
		<property name="y" value="0"/>
	</bean>

	<bean id="point3" class="org.sbelei.springdemo.Point">
		<property name="x" value="0"/>
		<property name="y" value="20"/>
	</bean>
</beans>
